extensao_block.mustache

<h5>Cursos disponíveis para criação</h5>

{{#sem_cursos}}
  <p>Nenhum curso foi encontrado.</p>
{{/sem_cursos}}

<div class="card">
  <input id="pesquisar_turma" placeholder="Buscar por curso">
</div>
<br>

{{#cursos_docente}}
<div class="card">
  <div class="card-body" id="curso_{{ codofeatvceu }}">
    <h6 class="card-title">{{ nome_curso_apolo }}</h6>
    {{{ formulario }}}
  </div>  
</div>
{{/cursos_docente}} 


<script>

// Variavel para armazenar os cursos
var cursos = {};

// No template, o codigo abaixo trata-se de um foreach aplicando um Regex sobre os nomes
{{#cursos_docente}}
  var nome_curso = '{{ nome_curso_apolo }}';
  nome_curso = nome_curso.normalize('NFD').replace(/[\u0300-\u036f]/g, "").toLowerCase();
  cursos[nome_curso] = '{{ codofeatvceu }}';
{{/cursos_docente}}

// Captura do input para atribuir a funcao de pesquisa a cada alteracao na entrada
const input_pesquisa = document.getElementById('pesquisar_turma');
input_pesquisa.oninput = function() {pesquisar(this.value)}

// Esconde div
const div_some = divId => document.getElementById('curso_' + divId).style.display = 'none';

// Mostra div
const div_aparece = divId => document.getElementById('curso_' + divId).style.display = 'unset';

// Busca
function pesquisar (valor) {
  // Regex para uma busca qualitativa
  let valor_busca = valor.normalize('NFD').replace(/[\u0300-\u036f]/g, "").toLowerCase();
  
  for (const [curso, id] of Object.entries(cursos)) {
    // Se for substring, mostra a div. Senao, esconde
    curso.includes(valor_busca) ? div_aparece(id) : div_some(id);
  }
}

</script>